@import '@/styles/_variables.scss';

.home-container {
  background-color: $etusivu-background;
  overflow: auto;

  .header {
    h1 {
      font-weight: 300;
    }
    background-color: $etusivu-header-background;
    background-image: url('../../../public/img/banners/etusivu_tausta.svg');
    background-position: 100% 0;
    background-repeat: no-repeat;

    color: white;
  }

  .tile-container {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
