@import '@/styles/_variables.scss';

.home {

  .header {
    padding: 40px;
    background: $etusivu-header-background;
    color: white;
  }

  .tilecontainer {
    margin-top: 30px;

    .tiles {
      justify-content: center;
      display: flex;
      flex-flow: wrap;
    }
  }
}
