@import '@/styles/_variables.scss';

.home-container {
  background-color: $etusivu-header-background;
  background-image: url('/img/banners/etusivu_tausta.svg');
  background-position: 100% 0;
  background-repeat: no-repeat;

  .home {
    background-color: $etusivu-background;

    .header {
      background-color: $etusivu-header-background;
      padding: 40px;
      color: white;
      background-image: url('/img/banners/etusivu_tausta.svg');
      background-position: 100% -56px;
      background-repeat: no-repeat;
    }

    .tilecontainer {
      width: 100%;
      margin: 30px;

      .tiles {
        justify-content: center;
        display: flex;
        flex-flow: wrap;
      }
    }
  }
}
