.home-container
  ep-navigation(:sticky="false")
  .home
    .header
      h3 {{ $t('tervetuloa', { nimi }) }}
      p {{ $t('tervetuloa-kuvaus') }}

    //- .tilecontainer
      //- .tiles
    .tilecontainer(
      v-masonry,
      origin-left="true", 
      fit-width="true",
      transition-duration="0.1s",
      item-selector=".tile")
      tile-opetussuunnitelmat()
      tile-pohjat()
      tile-uusi-opetussuunnitelma()
      tile-uusi-pohja()
      tile-valtakunnalliset-perusteet()
      tile-faq()
      tile-tiedotteet()
      tile-organisaatio()
      tile-loki()
