@import '../../styles/variables';

.floating-editing-buttons {
  // background: rgba(30, 73, 207, 0.8);
  // bottom: 0px;
  // left: 0px;
  // padding: 10px;
  // position: fixed;
  // width: 100%;
  // z-index: 1000;
}

.editointikontrolli {
  margin-top: 4px;

  .ylapaneeli {
    background: #fff;
    //font-size: 90%;
    border-bottom: 1px solid #eee;
    padding: 5px 15px 5px 15px;

    .headerline {
      padding-right: 50px;
    }

    .upper-buttons {
      min-width: 240px;
    }

    .muokattu, .muokkaaja {
      color: #555;
      margin-right: 20px;
    }
  }

  .sisalto {
    margin-bottom: 5px;
    padding: 15px;
  }

  .alapaneeli {

    .lower-buttons {
    }
  }

  .threads {
    height: 100%;
    display: flex;

    .rightbar {
      border-left: 1px solid #eee;
      min-width: 460px;
      max-width: 460px;
      min-height: 100vh;
      height: 100%;

      .rbheader {
        padding: 20px;
      }

      .rbcontent {
        min-height: 100vh;
        height: 100%;
        font-size: 80%;
      }
    }

    .rb-ohje {
      .rbheader { background: #fcddf9; }
      .rbcontent { background: #fbf1fa; }
    }

    .rb-keskustelu {
      .rbheader { background: #ccd9f8; }
      .rbcontent { background: #f2f5fd; }
    }

    .rb-peruste {
      .rbheader { background: #d4ebdc; }
      .rbcontent { background: #f4faf6; }
    }

    .actual-content {
      width: 100%;
    }
  }
}
