.editointikontrolli(v-if="ctrls")
  .ylapaneeli
    .historia
      .vasen
        span.muokattu
          span.title {{ $t('muokattu') }}: 
          span.value {{ $st(new Date()) }}
        span.muokkaaja
          span.title {{ $t('muokkaaja') }}: 
          span.value Joku Käyttäjä
      .oikea
        .upper-buttons(v-if="ctrls.isEditing")
          button.btn.btn-danger(@click="ctrls.remove()") {{ $t('poista') }}
        .upper-buttons(v-else)
          button.btn.btn-primary(@click="ctrls.start()") {{ $t('muokkaa') }}

  .sisalto
    slot

  .alapaneeli
    .kommentti
    .lower-buttons(v-if="ctrls.isEditing || true")
      button.btn.btn-primary(@click="ctrls.save()") {{ $t('tallenna') }}
      button.btn.btn-warning(@click="ctrls.cancel()") {{ $t('peruuta') }}
