div
  .editointikontrolli(v-if="isInitialized")
    slot(name="header", :data="state.data")
    .ylapaneeli.row
      .col-auto.mr-auto
        .row
          .col-auto
            .d-flex.muokattu
              .p-2.title {{ $t('muokattu') }}: 
              .p-2.value {{ $st(new Date()) }}
          .col-auto
            .d-flex.muokkaaja
              .p-2.title {{ $t('muokkaaja') }}: 
              .p-2.value Joku Käyttäjä
      .col-auto
        .d-flex
          .buttons.p-1
            .upper-buttons(v-if="ctrls.isEditing")
              button.btn.btn-xs.btn-danger(@click="ctrls.remove()")
                slot(name="poista") {{ $t('poista') }}
            .upper-buttons(v-else)
              button.btn.btn-xs.btn-link() {{ $t('historia') }}
              button.btn.btn-xs.btn-primary(@click="ctrls.start()")
                slot(name="muokkaa")
                  fas.faw-fw(icon="pen")

    .sisalto(v-if="state.data")
      slot(:isEditing="ctrls.isEditing", :data="state.data")

    .alapaneeli.row
      .col-auto.mr-auto
        span
      .col-auto
        .btn-toolbar(v-if="ctrls.isEditing")
          .btn-group
            button.btn.btn-primary(@click="ctrls.save()")
              slot(name="tallenna") {{ $t('tallenna') }}
            button.btn.btn-warning(@click="ctrls.cancel()")
              slot(name="peruuta") {{ $t('peruuta') }}
