*.njsproj
*.js
*.js.map
*.ntvs*
*.sln
*.suo
*.sw*
.env.*.local
.env.local
.idea
.vscode
/dist
coverage
dist
generated
node_modules
npm-debug.log*
tests/e2e/screenshots
tests/e2e/videos
typings
wwwroot/*.js
yarn-debug.log*
yarn-error.log*
yarn.lock
