*.js
*.js.map
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw*
.env.*.local
.env.local
.idea
.vscode
/dist
coverage
dist
generated
mochawesome-report
node_modules
npm-debug.log*
styleguide
test-results.xml
tests/e2e/screenshots
tests/e2e/videos
typings
wwwroot/*.js
package-lock.json
yarn-debug.log*
yarn-error.log*

!./.eslintrc.js
!src/ckplugins/**/*.js
