@import "@/styles/_variables.scss";

.sidebar {
  padding-top: 12px;

  ul.navigation {
    list-style: none;
    padding: 0px;

    li {
      padding: 6px 8px 6px 8px;
      border-left: 5px solid rgba(255, 255, 255, 0);
    }

    .item {
      li {
        a.btn {
          text-align: left;
          color: #152057;
          font-weight: 500;
          font-size: 14pt;
        }

        svg {
          margin-top: 3px;
        }
      }
    }

    li.subheader {
      span {
        padding-left: 0.75rem;
        user-select: none;
        -moz-user-select: none;
      }
    }

    .subitem {
      li {
        a.btn {
          color: #888;
          font-size: 12pt;
          font-weight: normal;
        }
      }

      li.module-link {
        padding: 4px 4px 4px 30px;
        display: flex;
        align-items: center;
      }
    }

    span.code-field {
      margin-left: 5px;
      font-size: 80%;
    }

    li.submenu, li.previous-link {
      display: flex;
      align-items: center;
      cursor: pointer;
      a.btn {
        width: 100%;
      }
    }

    li.previous-link {
      padding-left: 5px;
      a.btn {
        padding-left: 5px;
      }
    }

    li.router-link-exact-active {
      a {
        font-weight: bold;
      }

      border-left: 5px solid $green-lighten-2;
    }

  }

  // FIXME!!
  .inlay {
    .inner-icon {
      color: $color-ops-header;
      position: relative;
      float: right;
      top: -27px;
      right: 10px;
    }
  }

  .search {
    margin-bottom: 10px;
    padding: 10px 20px 10px 30px;

    input.megasearch {
      background: #F3F3F3;
      border: none;
      border-radius: 15px;
    }
  }

}