@import "@/styles/_variables.scss";

.sidebar {
  padding-top: 12px;

  ul.navigation {
    list-style: none;
    padding: 0px;

    li {
      padding: 6px 8px 6px 28px;
    }

    .item {
      li {
        a {
          text-align: left;
          color: #2b2b2b;
          font-family: 'Open Sans';
          font-size: 14px;
        }
      }
    }

    li.separated {
      margin-top: 50px;
    }

    li.subheader {
      span {
        //font-size: 90%;
        padding-left: 1rem;
        user-select: none;
        -moz-user-select: none;
      }
    }

    .subitem {
      li {
        a.btn {
          font-weight: normal;
        }
      }

      li.module-link {
        padding: 0px 4px 0px 40px;
        display: flex;
        align-items: center;

        a:active {
          color: red;
        }
      }
    }

    span.code-field {
      margin-left: 5px;
      font-size: 80%;
      text-transform: uppercase;
    }

    li.submenu, li.previous-link {
      display: flex;
      align-items: center;
      cursor: pointer;
      a.btn {
        width: 100%;
      }
    }

    li.submenu {
      svg {
        color: #b2b2b2;
      }
    }

    li.previous-link {
      padding-left: 5px;
      a.btn {
        padding-left: 5px;
      }

      span.back-btn {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #0041DC;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        svg {
          margin-left: -2px;
        }
      }
    }

    li.router-link-exact-active {
      a {
        font-weight: bold;
        color: #0041DC;
      }
    }

    li.previous-link {
      span.router-link-exact-active {
        a {
          font-weight: bold;
          color: #0041DC;
        }
      }
    }
  }

  .bottom-navigation {
    margin-top: 40px;
    border-top: 1px solid #ddd;
    color: #333;
    padding: 20px 10px 0 40px;

    .hallintatoggle {
      cursor: pointer;
      user-select: none;

      .hallintachevron {
        color: #ccc;
      }
    }

    ul {
      margin: 0px;
      margin-top: 5px;
      padding: 0px;

      li {
        margin: 0px;
        padding: 2px;
      }
    }

    a {
      color: #333;
    }
  //   position: absolute;
  //   bottom: -220px;
  //   width: 100%;
  }

  // FIXME!!
  .inlay {
    .inner-icon {
      color: $color-ops-header;
      position: relative;
      float: right;
      top: -27px;
      right: 10px;
    }
  }

  .search {
    margin-bottom: 10px;
    padding: 10px 20px 10px 30px;

    input.megasearch {
      background: #F3F3F3;
      border: none;
      border-radius: 15px;
    }
  }

}
