@import "@/styles/_variables.scss";

.sidebar {
  padding-top: 12px;

  ul.navigation {
    list-style: none;
    padding: 0;

    li {
      padding: 0 7px 0 28px;
    }

    .item {
      li {
        a {
          text-align: left;
          color: #2b2b2b;
          font-size: 14px;

          &.btn-link-link {
            color: #0041DC;
          }
        }


      }
    }

    li.separated {
      margin-top: 50px;
    }

    li.subheader {
      span {
        font-size: 90%;
        padding-left: 1rem;
        user-select: none;
      }
    }

    span.code-field {
      margin-left: 5px;
      font-size: 80%;
      text-transform: uppercase;
    }

    li.submenu, li.previous-link {
      display: flex;
      align-items: center;
      cursor: pointer;
      a.btn {
        width: 100%;
      }
    }

    li.submenu {
      svg {
        color: #b2b2b2;
      }
    }

    li.previous-link {
      padding-left: 5px;
      a.btn {
        padding-left: 5px;
      }

      span.back-btn {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-color: #0041DC;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        svg {
          margin-left: -2px;
        }
      }
    }

    li.router-link-exact-active {
      a {
        font-weight: bold;
        color: #0041DC;
      }
    }

    li.previous-link {
      span.router-link-exact-active {
        a {
          font-weight: bold;
          color: #0041DC;
        }
      }
    }

  }

  .search {
    padding: 10px 20px 10px 30px;
  }

  .muokkaa-kappaleita {
    padding: 0 20px 0 20px;
    background-color: #fff;

    // sticky initial state
    position: fixed;
    bottom: 0;
    width: $sidebar-width;

    .inner {
      border-color: #D8D8D8;
      border-style: solid;
      border-width: 1px 0 0 0;
      padding: 10px;
    }

    a.router-link-active {
      color: #888888;
    }
  }

}
