@import "@/styles/_variables.scss";

.sidebar {
  padding-top: 12px;

  ul.navigation {
    list-style: none;
    padding: 0px;

    li {
      padding: 8px;
      border-left: 10px solid rgba(255, 255, 255, 0);
    }

    .subitem > li > a {
      margin-left: 20px;
    }

    li.submenu {
      display: flex;
      align-items: center;
      cursor: pointer;
      a.btn {
        text-align: left;
        width: 100%;
      }
    }

    li.router-link-exact-active {
      a {
        font-weight: bold;
      }

      border-left: 10px solid $green-lighten-2;
    }

  }

  // FIXME!!
  .inlay {
    .inner-icon {
      color: $color-ops-header;
      position: relative;
      float: right;
      top: -27px;
      right: 10px;
    }
  }

  .search {
    margin-bottom: 10px;
    padding: 10px 20px 10px 30px;

    input.megasearch {
      background: #F3F3F3;
      border: none;
      border-radius: 15px;
    }
  }

}