div
  ep-content-base(
    :value="contentValue",
    :help="help",
    :locale="locale",
    :layout="layout",
    :opsId="opsId",
    :isEditable="isEditable",
    :validation="validation",
    @input="handleContentChange")
