.tilat {
  button {
    width: 100%;
    background: none;
    color: inherit;
    border: none;
    padding: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .tila-selected {
    background: #e2e8ff;
  }

  .tila {
    min-width: 100%;
    display: flex;
    flex: column;
    padding: 5px;

    &:hover {
      background: #edf3ff;
    }

    .ikoni {
      width: 120px;
      height: 80px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      padding: 8px;
      margin: 2px;

      .kuvake {
        font-size: 26px;
      }

      .nimi {
      }
    }

    .ikoni-valmis { background: #008000; }
    .ikoni-luonnos { background: #FBB03B; }
    .ikoni-poistettu { background: #c44; }
    .ikoni-julkaistu { background: #008000; }

    .tiedot {
      width: 100%;
      padding: 5px 0 0 5px;
      text-align: left;
      font-size: 80%;
    }

  }
}
