@import "@/styles/_variables.scss";

.sidenav {
  height: 100%;

  .closed {
    height: 100vh;

    button {
      width: 26px;
      height: 100vh;
      border-right: 1px solid #eee;

      span.bar {
        margin-left: -8px;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    display: flex;
    flex: stretch;

    .bar {
      height: 100%;
      border-right: 1px solid #eee;
      min-width: $sidebar-width;
      max-width: $sidebar-width;
      min-height: 100vh;
    }

    .view {
      width: 100%;
    }
  }
}
