@import "@/styles/_variables.scss";

.sidenav {
  height: 100%;

  @media only screen and (min-width: 1024px) {
    display: flex;
    flex: stretch;

    .bar {
      height: 100%;
      border-right: 1px solid #eee;
      min-width: $sidebar-width;
      max-width: $sidebar-width;
      min-height: 100vh;
    }

    .view {
      width: 100%;
    }
  }
}
