div
  .sidenav
    .closed
      button.btn.btn-link(@click="toggled = !toggled", v-if="!toggled")
        span.bar
          fas(icon="bars")
    .bar(v-if="toggled")
      button.btn.btn-link(@click="toggled = !toggled", v-if="toggled")
        fas(icon="bars")
      slot(name="bar")
    .view
      slot(name="view")
