div
  div.sidenav
    .closed
      button.btn.btn-link(@click="toggled = !toggled", v-if="!toggled")
        span.bar
          fas(icon="bars")
    div.bar(v-if="toggled")
      button.btn.btn-link(@click="toggled = !toggled", v-if="toggled")
        fas(icon="bars")
      slot(name="bar")
    div.view
      slot(name="view")
