@import './variables';
@import 'oph-virkailija-style-guide/oph-styles.css';


.content {
  margin: 0px;

  @media only screen and (min-width: 768px) {
    margin: 0px;
  }
}

.form-content {
  padding: 0px !important;
}

:root {
  margin: 0;
  padding: 0;

  color: $font-color-base;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  div.form {
    padding: 20px;

    label {
      font-size: 120%;
    }
  }

  a {
    color: $link-color;

    &:hover {
      text-decoration: none;
      color: $link-color-hover;
    }
  }

  // https://getbootstrap.com/docs/4.3/layout/overview/#z-index
  --ck-z-default: 1080;
}

.dev1 {
  background: $green;
}

.dev2 {
  background: $red;
}

.dev3 {
  background: $blue;
}

.dev4 {
  background: $yellow;
}

button:disabled {
  cursor: not-allowed;
}
