@import './variables';
@import '../../node_modules/oph-virkailija-style-guide/oph-styles';

.content {
  margin: 0;

  @media only screen and (min-width: 768px) {
    margin: 0;
  }
}

.form-content {
  padding: 0 !important;
}

:root {
  margin: 0;
  padding: 0;

  color: $font-color-base;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  div.form {
    padding: 20px;

    label {
      font-size: 120%;
    }
  }

  a {
    color: $link-color;

    &:hover {
      text-decoration: none;
      color: $link-color-hover;
    }

  }

  // https://getbootstrap.com/docs/4.3/layout/overview/#z-index
  --ck-z-default: 1080;

  overflow-y: scroll;
}

.body {
  font-family: "Open Sans", "Helvetica", sans-serif;
}

.dev1 {
  background: $green;
}

.dev2 {
  background: $red;
}

.dev3 {
  background: $blue;
}

.dev4 {
  background: $yellow;
}

button:disabled {
  cursor: not-allowed;
}

.custom-control-label {
  user-select: none;
}

li p {
  margin-bottom: 0;
}
