@import './variables';
@import 'oph-virkailija-style-guide/oph-styles.css';

.form-content {
  padding: 0px !important;
}

body {
  background: $etusivu-background;
}

:root {
  margin: 0;
  padding: 0;

  color: $font-color-base;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  div.form {
    padding: 20px;

    label {
      font-size: 120%;
    }
  }

  a {
    color: $link-color;

    &:hover {
      text-decoration: none;
      color: $link-color-hover;
    }
  }
}


.dev1 {
  background: $green;
}


.dev2 {
  background: $red;
}


.dev3 {
  background: $blue;
}


.dev4 {
  background: $yellow;
}
