@import './variables';
@import '../../node_modules/oph-virkailija-style-guide/oph-styles';
@import './editorstyle';
@import 'vue-select/src/scss/vue-select.scss';


img.content-image {
  max-width: 100%;
}

.content {
  margin: 0;

  @media only screen and (min-width: 768px) {
    margin: 0;
  }
}

.form-content {
  padding: 0 !important;
}

:root {
  margin: 0;
  padding: 0;

  color: $font-color-base;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  div.form {
    padding: 20px;

    label {
      font-size: 120%;
    }
  }

  a {
    color: $link-color;

    &:hover {
      text-decoration: none;
      color: $link-color-hover;
    }

  }

  // Modaalin aukaiseminen siirtää elementtejä
  //overflow-y: scroll;
}

.dev1 {
  background: $green;
}

.dev2 {
  background: $red;
}

.dev3 {
  background: $blue;
}

.dev4 {
  background: $yellow;
}

button:disabled {
  cursor: not-allowed;
}

.custom-control-label {
  user-select: none;
}

li p {
  margin-bottom: 0;
}
