$normal-color: #001A58;
$hover-color: #3267E3;

.tile {
  .tileheader {
    a {
      font-weight: 400;
      color: $normal-color;

      &:active, &:hover {
        color: $hover-color;
      }
    }
  }
}
