div.ep-collapse
  div.header
    b-button(variant="link" @click="toggled = !toggled")
      span.icon
        slot(v-if="toggled" name="icon-opened")
          fas.fa-fw(icon="chevron-down")
        slot(v-else name="icon-closed")
          fas.fa-fw(icon="chevron-right")
      slot(name="header")
  div.content(v-if="toggled")
    slot(name="content")
