.ep-collapse {
  .nope {
  }

  .header {
    button {
      margin: 0;
      padding: 0;
      color: gray;
    }
    border-bottom: 1px solid #ddd;
  }
  .content {
    margin: 0;
    padding: 0;
  }
}

