.ep-collapse {
  .header {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display:flex;
    align-items: center;
  }

  .header-content {
    flex:1 0 auto;
  }

  .content {
    margin: 0;
    padding: 0;
  }
}
