div.ep-collapse
  div.header
    button.btn.btn-link(variant="link" @click="toggled = !toggled")
      slot(name="header")

  div.content(v-if="toggled")
    // @slot Content that is hidden/shown
    slot(name="content")
