div.ep-collapse
  div.header(@click="toggled = !toggled")
    div.header-content
      slot(name="header")
    div.header-btn
      fas(icon="chevron-up", v-if="toggled")
      fas(icon="chevron-down", v-else)
  div.content(v-if="toggled")
    // @slot Content that is hidden/shown
    slot
