div.ep-content-base
  ck-editor(
    v-if="isEditable",
    :value="value"
    :layout="layout"
    :validation="validation",
    @input="$emit('input', $event)")
  ep-viewer(
    v-else,
    :value="value")
