div.ep-content-base
  div(v-if="isEditable")
    ck-editor(
      :value="value",
      :layout="layout",
      :locale="locale",
      :opsId="opsId",
      :opsKasitteet="opsKasitteet",
      @input="$emit('input', $event)")
    .valid-feedback(v-if="!validationError && validMessage") {{ $t(validMessage) }}
    .invalid-feedback(v-else-if="validationError && invalidMessage ") {{ $t(invalidMessage) }}
    .invalid-feedback(v-else-if="validationError && !invalidMessage") {{ $t('validation-error-' + validationError, validation.$params[validationError]) }}
    small.form-text.text-muted(v-if="help && isEditing") {{ $t(help) }}
  ep-viewer(
    v-else,
    :value="value",
    :opsKasitteet="opsKasitteet")
